.emoji {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;

    .situacao{
        font-size: 4em;
    }
    .acoes{
        display: flex;
        flex-direction: column;
    }
}